.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.765137;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.987793;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.692871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.942383;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-75.400002px;}
.ls1{letter-spacing:-66.559998px;}
.ls13{letter-spacing:-35.599998px;}
.ls18{letter-spacing:-34.599998px;}
.ls2e{letter-spacing:-25.000000px;}
.ls23{letter-spacing:-24.799999px;}
.ls2{letter-spacing:-24.000000px;}
.ls22{letter-spacing:-22.600000px;}
.ls19{letter-spacing:-21.000000px;}
.ls1a{letter-spacing:-20.200001px;}
.ls1e{letter-spacing:-18.200001px;}
.ls1b{letter-spacing:-18.000000px;}
.ls3d{letter-spacing:-16.000000px;}
.ls32{letter-spacing:-14.400000px;}
.ls2a{letter-spacing:-12.800000px;}
.ls45{letter-spacing:-12.600000px;}
.ls35{letter-spacing:-9.600000px;}
.lse{letter-spacing:-8.400000px;}
.ls49{letter-spacing:-8.160000px;}
.ls10{letter-spacing:-8.000000px;}
.lsb{letter-spacing:-7.600000px;}
.ls3f{letter-spacing:-7.200000px;}
.ls36{letter-spacing:-7.000000px;}
.ls9{letter-spacing:-6.800000px;}
.ls1d{letter-spacing:-6.200000px;}
.ls43{letter-spacing:-5.400000px;}
.ls27{letter-spacing:-4.400000px;}
.ls34{letter-spacing:-4.000000px;}
.ls39{letter-spacing:-3.800000px;}
.ls2c{letter-spacing:-3.600000px;}
.ls4a{letter-spacing:-3.400000px;}
.ls1f{letter-spacing:-3.200000px;}
.ls2b{letter-spacing:-3.000000px;}
.ls20{letter-spacing:-2.800000px;}
.ls24{letter-spacing:-2.400000px;}
.ls1c{letter-spacing:-2.200000px;}
.ls16{letter-spacing:-2.000000px;}
.lsa{letter-spacing:-1.800000px;}
.lsf{letter-spacing:-1.600000px;}
.ls42{letter-spacing:-1.480000px;}
.ls21{letter-spacing:-1.400000px;}
.ls38{letter-spacing:-1.200000px;}
.ls14{letter-spacing:-1.000000px;}
.ls3e{letter-spacing:-0.800000px;}
.ls46{letter-spacing:-0.600000px;}
.lsc{letter-spacing:-0.400000px;}
.lsd{letter-spacing:0.000000px;}
.ls25{letter-spacing:1.600000px;}
.ls40{letter-spacing:2.000000px;}
.ls2f{letter-spacing:2.200000px;}
.ls33{letter-spacing:2.400000px;}
.ls17{letter-spacing:2.600000px;}
.ls29{letter-spacing:2.800000px;}
.ls12{letter-spacing:3.000000px;}
.ls3c{letter-spacing:3.200000px;}
.ls3a{letter-spacing:3.400000px;}
.ls15{letter-spacing:3.800000px;}
.ls30{letter-spacing:4.200000px;}
.ls26{letter-spacing:4.560000px;}
.ls28{letter-spacing:4.800000px;}
.ls31{letter-spacing:5.000000px;}
.ls3b{letter-spacing:8.000000px;}
.ls11{letter-spacing:8.160000px;}
.ls6{letter-spacing:8.400000px;}
.ls44{letter-spacing:8.600000px;}
.ls41{letter-spacing:8.800000px;}
.ls8{letter-spacing:11.000000px;}
.ls7{letter-spacing:11.200000px;}
.ls47{letter-spacing:11.600000px;}
.ls48{letter-spacing:13.600000px;}
.ls5{letter-spacing:13.800000px;}
.ls4{letter-spacing:14.600000px;}
.ls2d{letter-spacing:15.000000px;}
.ls37{letter-spacing:20.000000px;}
.ls3{letter-spacing:37.599998px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._3{margin-left:-29.875416px;}
._4{margin-left:-1.102122px;}
._0{width:1.019977px;}
._2{width:55.559982px;}
._1{width:56.960022px;}
._2d{width:185.962282px;}
._d{width:187.415689px;}
._44{width:190.055936px;}
._35{width:194.253469px;}
._3e{width:196.016000px;}
._45{width:197.215776px;}
._2a{width:200.215905px;}
._e{width:202.816323px;}
._29{width:205.415918px;}
._3b{width:212.415780px;}
._3c{width:214.016000px;}
._3f{width:215.939803px;}
._11{width:217.710259px;}
._9{width:219.427773px;}
._c{width:221.815988px;}
._5{width:223.590720px;}
._6{width:226.262415px;}
._27{width:227.769410px;}
._38{width:229.062357px;}
._2b{width:230.916185px;}
._a{width:232.075322px;}
._4c{width:233.515664px;}
._10{width:235.279492px;}
._1f{width:236.715669px;}
._8{width:238.144795px;}
._43{width:239.515802px;}
._20{width:240.969575px;}
._47{width:242.915616px;}
._3d{width:243.964061px;}
._19{width:247.107907px;}
._31{width:249.007702px;}
._34{width:252.323435px;}
._18{width:254.908261px;}
._2c{width:256.516008px;}
._36{width:257.551786px;}
._f{width:258.593622px;}
._1e{width:260.615503px;}
._7{width:261.912725px;}
._21{width:263.937206px;}
._13{width:266.107907px;}
._33{width:267.715837px;}
._39{width:270.207642px;}
._12{width:271.708256px;}
._28{width:272.815809px;}
._1c{width:274.815500px;}
._1d{width:276.624258px;}
._32{width:278.115859px;}
._41{width:281.207039px;}
._22{width:282.907895px;}
._26{width:283.916055px;}
._25{width:286.615800px;}
._4a{width:288.216027px;}
._1b{width:290.923742px;}
._3a{width:292.215844px;}
._1a{width:293.915658px;}
._15{width:297.207509px;}
._2f{width:298.607808px;}
._48{width:300.908009px;}
._23{width:302.807805px;}
._14{width:304.208005px;}
._2e{width:305.208176px;}
._4b{width:306.407658px;}
._17{width:307.607487px;}
._42{width:308.915895px;}
._37{width:312.716050px;}
._40{width:319.707654px;}
._49{width:321.607686px;}
._30{width:323.607792px;}
._24{width:325.108555px;}
._16{width:326.408146px;}
._46{width:340.707837px;}
._b{width:1396.320138px;}
.fc4{color:rgb(236,236,236);}
.fc2{color:rgb(255,204,200);}
.fc6{color:rgb(255,255,255);}
.fc1{color:rgb(0,27,143);}
.fc5{color:rgb(245,244,231);}
.fc0{color:rgb(55,59,65);}
.fc3{color:rgb(0,0,0);}
.fs6{font-size:70.000000px;}
.fs7{font-size:78.000000px;}
.fs8{font-size:104.940002px;}
.fs3{font-size:106.000000px;}
.fs2{font-size:120.000000px;}
.fs4{font-size:154.000000px;}
.fs5{font-size:156.000000px;}
.fs1{font-size:324.000000px;}
.fs0{font-size:1238.000000px;}
.y0{bottom:0.000000px;}
.y85{bottom:65.349026px;}
.y24{bottom:67.740322px;}
.y31{bottom:69.142570px;}
.y94{bottom:77.827112px;}
.y2f{bottom:78.878332px;}
.y54{bottom:89.605444px;}
.yab{bottom:91.058861px;}
.yad{bottom:91.336815px;}
.y12{bottom:91.370872px;}
.ya1{bottom:91.630713px;}
.yb8{bottom:91.727209px;}
.y11{bottom:92.138779px;}
.y17{bottom:92.334808px;}
.y84{bottom:92.352390px;}
.y66{bottom:92.676624px;}
.y40{bottom:93.375854px;}
.y6b{bottom:93.376099px;}
.y44{bottom:93.909195px;}
.y73{bottom:93.909378px;}
.y82{bottom:93.920227px;}
.y83{bottom:93.941809px;}
.y22{bottom:94.083899px;}
.y23{bottom:94.743687px;}
.y81{bottom:103.120239px;}
.y65{bottom:120.076624px;}
.y30{bottom:123.150368px;}
.yba{bottom:129.089592px;}
.yaf{bottom:129.089775px;}
.y2e{bottom:145.228369px;}
.yd{bottom:151.170874px;}
.y21{bottom:151.283850px;}
.y4e{bottom:152.223801px;}
.yaa{bottom:154.858862px;}
.y53{bottom:155.355505px;}
.ya0{bottom:157.380774px;}
.yb7{bottom:157.477270px;}
.yac{bottom:158.136816px;}
.y9b{bottom:158.249069px;}
.y10{bottom:158.938782px;}
.y16{bottom:159.134811px;}
.y3f{bottom:159.175858px;}
.y3b{bottom:159.175888px;}
.y6a{bottom:159.176102px;}
.y6f{bottom:159.176132px;}
.y43{bottom:159.709198px;}
.y72{bottom:159.709381px;}
.y7e{bottom:159.720238px;}
.y20{bottom:159.833899px;}
.y80{bottom:159.920235px;}
.y7f{bottom:167.075233px;}
.yb9{bottom:183.097389px;}
.yae{bottom:183.097572px;}
.y2d{bottom:208.528418px;}
.y76{bottom:211.535425px;}
.y2c{bottom:211.778357px;}
.y62{bottom:212.788733px;}
.yb6{bottom:218.927221px;}
.y4d{bottom:219.023804px;}
.y1f{bottom:219.983849px;}
.yc{bottom:220.625525px;}
.y9a{bottom:221.049072px;}
.y52{bottom:221.105505px;}
.y7c{bottom:221.240271px;}
.ya9{bottom:223.127234px;}
.y9f{bottom:223.130774px;}
.yb5{bottom:223.227270px;}
.ya8{bottom:224.777258px;}
.y3e{bottom:224.975861px;}
.y3a{bottom:224.975891px;}
.y69{bottom:224.976105px;}
.y6e{bottom:224.976135px;}
.y42{bottom:225.509209px;}
.y71{bottom:225.509392px;}
.y7d{bottom:225.520239px;}
.y1e{bottom:225.583838px;}
.yf{bottom:225.738792px;}
.y15{bottom:225.934814px;}
.y4{bottom:227.299683px;}
.y3{bottom:269.299698px;}
.y2b{bottom:276.678350px;}
.y47{bottom:277.586084px;}
.y2a{bottom:278.328344px;}
.y61{bottom:279.138739px;}
.y91{bottom:281.532019px;}
.y4c{bottom:285.823814px;}
.y51{bottom:286.855474px;}
.y50{bottom:286.905462px;}
.y99{bottom:287.849083px;}
.y9e{bottom:288.880743px;}
.y9d{bottom:288.930731px;}
.yb4{bottom:288.977240px;}
.y5{bottom:290.080206px;}
.y3d{bottom:290.775871px;}
.y39{bottom:290.775902px;}
.y68{bottom:290.776115px;}
.y6d{bottom:290.776146px;}
.y41{bottom:291.309210px;}
.y70{bottom:291.309393px;}
.ya7{bottom:291.377295px;}
.y1d{bottom:291.383856px;}
.y7b{bottom:291.384008px;}
.ye{bottom:292.538794px;}
.y14{bottom:292.734825px;}
.y2{bottom:332.096741px;}
.y60{bottom:342.438818px;}
.y29{bottom:344.928442px;}
.y5f{bottom:345.688757px;}
.y90{bottom:347.282049px;}
.y4f{bottom:352.605474px;}
.y4b{bottom:352.623816px;}
.yb3{bottom:353.227226px;}
.yb2{bottom:353.477226px;}
.y9c{bottom:354.630743px;}
.y98{bottom:354.649084px;}
.y1c{bottom:355.633873px;}
.y7a{bottom:355.634026px;}
.y3c{bottom:356.575872px;}
.y38{bottom:356.575903px;}
.y67{bottom:356.576117px;}
.y6c{bottom:356.576147px;}
.ya6{bottom:358.227226px;}
.y13{bottom:359.534826px;}
.ya{bottom:359.534857px;}
.y36{bottom:396.799606px;}
.y35{bottom:396.872604px;}
.y8f{bottom:408.732031px;}
.y5e{bottom:410.588751px;}
.y28{bottom:411.778343px;}
.y5d{bottom:412.238745px;}
.y8e{bottom:413.032019px;}
.y37{bottom:417.820253px;}
.y4a{bottom:430.342562px;}
.y97{bottom:432.367830px;}
.y1{bottom:434.645554px;}
.ya5{bottom:434.735140px;}
.y1b{bottom:434.741793px;}
.y79{bottom:434.741945px;}
.yb{bottom:434.759249px;}
.y8d{bottom:478.782019px;}
.y5c{bottom:478.838842px;}
.y27{bottom:486.136261px;}
.y49{bottom:505.515457px;}
.y48{bottom:505.588364px;}
.y96{bottom:507.540634px;}
.y95{bottom:507.613632px;}
.y1a{bottom:508.028597px;}
.y78{bottom:508.028749px;}
.y19{bottom:508.060942px;}
.y77{bottom:508.061094px;}
.yb1{bottom:509.931900px;}
.y9{bottom:509.932053px;}
.yb0{bottom:510.004807px;}
.y8{bottom:510.005051px;}
.y8c{bottom:543.032021px;}
.y8b{bottom:543.232018px;}
.y5b{bottom:545.688744px;}
.y26{bottom:561.523165px;}
.y25{bottom:561.555510px;}
.ya4{bottom:574.694183px;}
.y5a{bottom:620.046654px;}
.y8a{bottom:622.139940px;}
.y75{bottom:634.565742px;}
.y46{bottom:634.565834px;}
.y64{bottom:651.135044px;}
.ybb{bottom:656.442911px;}
.y93{bottom:668.053936px;}
.ya3{bottom:668.182041px;}
.y87{bottom:668.655590px;}
.y34{bottom:683.052876px;}
.y57{bottom:684.917362px;}
.y74{bottom:688.573540px;}
.y45{bottom:688.573631px;}
.y59{bottom:695.433565px;}
.y58{bottom:695.465910px;}
.y89{bottom:697.336792px;}
.y88{bottom:697.409706px;}
.y7{bottom:697.846302px;}
.y63{bottom:705.142841px;}
.y33{bottom:711.484535px;}
.y56{bottom:713.349022px;}
.y92{bottom:722.061733px;}
.ya2{bottom:722.189838px;}
.y86{bottom:722.663387px;}
.y18{bottom:725.827082px;}
.y32{bottom:738.487900px;}
.y55{bottom:740.352386px;}
.y6{bottom:751.854099px;}
.h7{height:54.824219px;}
.h8{height:61.089844px;}
.h9{height:82.189338px;}
.h4{height:83.019531px;}
.h3{height:87.421875px;}
.h5{height:104.295898px;}
.h6{height:115.019531px;}
.h2{height:253.757812px;}
.h0{height:810.000000px;}
.h1{height:928.500000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x8{left:81.000000px;}
.x2c{left:85.560394px;}
.xb{left:97.129211px;}
.x46{left:98.308899px;}
.x11{left:100.848740px;}
.x57{left:102.299925px;}
.x26{left:103.406464px;}
.x42{left:105.075425px;}
.x5{left:106.215591px;}
.x56{left:109.874962px;}
.x3a{left:111.688187px;}
.x74{left:134.785492px;}
.x1d{left:136.669464px;}
.x2b{left:144.560394px;}
.x45{left:157.308899px;}
.x49{left:160.160553px;}
.x5b{left:162.608353px;}
.x54{left:176.514099px;}
.x15{left:190.455905px;}
.x14{left:193.155905px;}
.x39{left:194.819685px;}
.x13{left:197.355906px;}
.x38{left:199.119685px;}
.xa{left:201.539215px;}
.x37{left:203.194683px;}
.x36{left:207.394683px;}
.x48{left:219.160553px;}
.x18{left:280.887470px;}
.x17{left:283.637469px;}
.x3c{left:286.401325px;}
.x16{left:288.737470px;}
.x3b{left:294.251325px;}
.x1{left:308.288055px;}
.x1c{left:377.898590px;}
.x1a{left:381.298590px;}
.x1b{left:382.348590px;}
.x32{left:383.412354px;}
.x19{left:386.048590px;}
.x31{left:387.862353px;}
.x41{left:389.875370px;}
.x30{left:391.562353px;}
.x12{left:471.069427px;}
.x35{left:476.583221px;}
.xc{left:478.711823px;}
.x34{left:479.933143px;}
.x33{left:484.183222px;}
.x4{left:501.822144px;}
.x2{left:508.222168px;}
.x58{left:550.799643px;}
.xe{left:555.145996px;}
.xd{left:558.701416px;}
.x3{left:580.859650px;}
.x9{left:583.364624px;}
.x40{left:633.573242px;}
.x10{left:637.487427px;}
.xf{left:641.135681px;}
.x5c{left:719.980164px;}
.x5e{left:736.109375px;}
.x66{left:737.494580px;}
.x65{left:740.344580px;}
.x63{left:743.994580px;}
.x1e{left:759.640259px;}
.x76{left:773.240198px;}
.x20{left:775.740259px;}
.x27{left:777.227781px;}
.x24{left:779.440258px;}
.x2a{left:781.340282px;}
.x22{left:783.740259px;}
.x2e{left:796.123474px;}
.x6f{left:799.033020px;}
.x69{left:800.166685px;}
.x6b{left:803.179188px;}
.x6a{left:807.254185px;}
.x68{left:824.393921px;}
.x55{left:837.872559px;}
.x4e{left:868.327820px;}
.x3f{left:869.637085px;}
.x4d{left:872.477820px;}
.x67{left:883.393921px;}
.x2d{left:891.320129px;}
.x6e{left:894.709540px;}
.x3e{left:895.952576px;}
.x5a{left:914.286621px;}
.x4a{left:923.221497px;}
.x7{left:929.026611px;}
.x62{left:931.794544px;}
.x3d{left:954.952576px;}
.x50{left:959.019287px;}
.x51{left:960.069208px;}
.x4f{left:962.919287px;}
.x59{left:973.286621px;}
.x71{left:981.864502px;}
.x70{left:985.314502px;}
.x6{left:988.026611px;}
.x47{left:1005.597778px;}
.x53{left:1056.508911px;}
.x77{left:1058.107910px;}
.x52{left:1059.908911px;}
.x72{left:1079.492554px;}
.x73{left:1080.542475px;}
.x64{left:1113.494408px;}
.x44{left:1149.290096px;}
.x4c{left:1150.385303px;}
.x29{left:1153.340233px;}
.x21{left:1161.790047px;}
.x6d{left:1172.609619px;}
.x6c{left:1176.328964px;}
.x5d{left:1222.344849px;}
.x75{left:1225.815016px;}
.x25{left:1230.040113px;}
.x23{left:1233.440113px;}
.x28{left:1241.290211px;}
.x4b{left:1261.890186px;}
.x1f{left:1264.290092px;}
.x61{left:1272.460571px;}
.x60{left:1275.910571px;}
.x2f{left:1276.919800px;}
.x5f{left:1280.160493px;}
.x43{left:1324.465038px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-100.533335pt;}
.ls1{letter-spacing:-88.746663pt;}
.ls13{letter-spacing:-47.466665pt;}
.ls18{letter-spacing:-46.133331pt;}
.ls2e{letter-spacing:-33.333333pt;}
.ls23{letter-spacing:-33.066666pt;}
.ls2{letter-spacing:-32.000000pt;}
.ls22{letter-spacing:-30.133334pt;}
.ls19{letter-spacing:-28.000000pt;}
.ls1a{letter-spacing:-26.933334pt;}
.ls1e{letter-spacing:-24.266668pt;}
.ls1b{letter-spacing:-24.000000pt;}
.ls3d{letter-spacing:-21.333333pt;}
.ls32{letter-spacing:-19.199999pt;}
.ls2a{letter-spacing:-17.066667pt;}
.ls45{letter-spacing:-16.800001pt;}
.ls35{letter-spacing:-12.800001pt;}
.lse{letter-spacing:-11.199999pt;}
.ls49{letter-spacing:-10.880000pt;}
.ls10{letter-spacing:-10.666667pt;}
.lsb{letter-spacing:-10.133333pt;}
.ls3f{letter-spacing:-9.600000pt;}
.ls36{letter-spacing:-9.333333pt;}
.ls9{letter-spacing:-9.066667pt;}
.ls1d{letter-spacing:-8.266666pt;}
.ls43{letter-spacing:-7.200000pt;}
.ls27{letter-spacing:-5.866667pt;}
.ls34{letter-spacing:-5.333333pt;}
.ls39{letter-spacing:-5.066667pt;}
.ls2c{letter-spacing:-4.800000pt;}
.ls4a{letter-spacing:-4.533333pt;}
.ls1f{letter-spacing:-4.266667pt;}
.ls2b{letter-spacing:-4.000000pt;}
.ls20{letter-spacing:-3.733333pt;}
.ls24{letter-spacing:-3.200000pt;}
.ls1c{letter-spacing:-2.933333pt;}
.ls16{letter-spacing:-2.666667pt;}
.lsa{letter-spacing:-2.400000pt;}
.lsf{letter-spacing:-2.133333pt;}
.ls42{letter-spacing:-1.973333pt;}
.ls21{letter-spacing:-1.866667pt;}
.ls38{letter-spacing:-1.600000pt;}
.ls14{letter-spacing:-1.333333pt;}
.ls3e{letter-spacing:-1.066667pt;}
.ls46{letter-spacing:-0.800000pt;}
.lsc{letter-spacing:-0.533333pt;}
.lsd{letter-spacing:0.000000pt;}
.ls25{letter-spacing:2.133333pt;}
.ls40{letter-spacing:2.666667pt;}
.ls2f{letter-spacing:2.933333pt;}
.ls33{letter-spacing:3.200000pt;}
.ls17{letter-spacing:3.466667pt;}
.ls29{letter-spacing:3.733333pt;}
.ls12{letter-spacing:4.000000pt;}
.ls3c{letter-spacing:4.266667pt;}
.ls3a{letter-spacing:4.533333pt;}
.ls15{letter-spacing:5.066667pt;}
.ls30{letter-spacing:5.600000pt;}
.ls26{letter-spacing:6.080000pt;}
.ls28{letter-spacing:6.400000pt;}
.ls31{letter-spacing:6.666667pt;}
.ls3b{letter-spacing:10.666667pt;}
.ls11{letter-spacing:10.880000pt;}
.ls6{letter-spacing:11.199999pt;}
.ls44{letter-spacing:11.466667pt;}
.ls41{letter-spacing:11.733334pt;}
.ls8{letter-spacing:14.666667pt;}
.ls7{letter-spacing:14.933333pt;}
.ls47{letter-spacing:15.466667pt;}
.ls48{letter-spacing:18.133334pt;}
.ls5{letter-spacing:18.400000pt;}
.ls4{letter-spacing:19.466667pt;}
.ls2d{letter-spacing:20.000000pt;}
.ls37{letter-spacing:26.666667pt;}
.ls3{letter-spacing:50.133331pt;}
.ws0{word-spacing:0.000000pt;}
._3{margin-left:-39.833888pt;}
._4{margin-left:-1.469496pt;}
._0{width:1.359969pt;}
._2{width:74.079976pt;}
._1{width:75.946696pt;}
._2d{width:247.949709pt;}
._d{width:249.887585pt;}
._44{width:253.407915pt;}
._35{width:259.004625pt;}
._3e{width:261.354667pt;}
._45{width:262.954368pt;}
._2a{width:266.954541pt;}
._e{width:270.421765pt;}
._29{width:273.887890pt;}
._3b{width:283.221040pt;}
._3c{width:285.354667pt;}
._3f{width:287.919738pt;}
._11{width:290.280346pt;}
._9{width:292.570365pt;}
._c{width:295.754650pt;}
._5{width:298.120960pt;}
._6{width:301.683219pt;}
._27{width:303.692547pt;}
._38{width:305.416475pt;}
._2b{width:307.888246pt;}
._a{width:309.433763pt;}
._4c{width:311.354219pt;}
._10{width:313.705989pt;}
._1f{width:315.620892pt;}
._8{width:317.526393pt;}
._43{width:319.354402pt;}
._20{width:321.292766pt;}
._47{width:323.887488pt;}
._3d{width:325.285415pt;}
._19{width:329.477209pt;}
._31{width:332.010270pt;}
._34{width:336.431246pt;}
._18{width:339.877681pt;}
._2c{width:342.021344pt;}
._36{width:343.402382pt;}
._f{width:344.791496pt;}
._1e{width:347.487337pt;}
._7{width:349.216966pt;}
._21{width:351.916274pt;}
._13{width:354.810543pt;}
._33{width:356.954449pt;}
._39{width:360.276856pt;}
._12{width:362.277675pt;}
._28{width:363.754411pt;}
._1c{width:366.420666pt;}
._1d{width:368.832344pt;}
._32{width:370.821146pt;}
._41{width:374.942719pt;}
._22{width:377.210526pt;}
._26{width:378.554740pt;}
._25{width:382.154400pt;}
._4a{width:384.288037pt;}
._1b{width:387.898323pt;}
._3a{width:389.621126pt;}
._1a{width:391.887544pt;}
._15{width:396.276678pt;}
._2f{width:398.143744pt;}
._48{width:401.210679pt;}
._23{width:403.743740pt;}
._14{width:405.610673pt;}
._2e{width:406.944235pt;}
._4b{width:408.543544pt;}
._17{width:410.143316pt;}
._42{width:411.887860pt;}
._37{width:416.954734pt;}
._40{width:426.276872pt;}
._49{width:428.810248pt;}
._30{width:431.477057pt;}
._24{width:433.478074pt;}
._16{width:435.210862pt;}
._46{width:454.277116pt;}
._b{width:1861.760184pt;}
.fs6{font-size:93.333333pt;}
.fs7{font-size:104.000000pt;}
.fs8{font-size:139.920003pt;}
.fs3{font-size:141.333333pt;}
.fs2{font-size:160.000000pt;}
.fs4{font-size:205.333333pt;}
.fs5{font-size:208.000000pt;}
.fs1{font-size:432.000000pt;}
.fs0{font-size:1650.666667pt;}
.y0{bottom:0.000000pt;}
.y85{bottom:87.132034pt;}
.y24{bottom:90.320429pt;}
.y31{bottom:92.190094pt;}
.y94{bottom:103.769483pt;}
.y2f{bottom:105.171110pt;}
.y54{bottom:119.473925pt;}
.yab{bottom:121.411814pt;}
.yad{bottom:121.782420pt;}
.y12{bottom:121.827830pt;}
.ya1{bottom:122.174283pt;}
.yb8{bottom:122.302945pt;}
.y11{bottom:122.851705pt;}
.y17{bottom:123.113078pt;}
.y84{bottom:123.136520pt;}
.y66{bottom:123.568832pt;}
.y40{bottom:124.501139pt;}
.y6b{bottom:124.501465pt;}
.y44{bottom:125.212260pt;}
.y73{bottom:125.212504pt;}
.y82{bottom:125.226969pt;}
.y83{bottom:125.255745pt;}
.y22{bottom:125.445198pt;}
.y23{bottom:126.324916pt;}
.y81{bottom:137.493652pt;}
.y65{bottom:160.102165pt;}
.y30{bottom:164.200490pt;}
.yba{bottom:172.119456pt;}
.yaf{bottom:172.119700pt;}
.y2e{bottom:193.637825pt;}
.yd{bottom:201.561165pt;}
.y21{bottom:201.711800pt;}
.y4e{bottom:202.965068pt;}
.yaa{bottom:206.478483pt;}
.y53{bottom:207.140673pt;}
.ya0{bottom:209.841031pt;}
.yb7{bottom:209.969694pt;}
.yac{bottom:210.849088pt;}
.y9b{bottom:210.998759pt;}
.y10{bottom:211.918376pt;}
.y16{bottom:212.179749pt;}
.y3f{bottom:212.234477pt;}
.y3b{bottom:212.234517pt;}
.y6a{bottom:212.234802pt;}
.y6f{bottom:212.234843pt;}
.y43{bottom:212.945597pt;}
.y72{bottom:212.945841pt;}
.y7e{bottom:212.960317pt;}
.y20{bottom:213.111865pt;}
.y80{bottom:213.226980pt;}
.y7f{bottom:222.766978pt;}
.yb9{bottom:244.129852pt;}
.yae{bottom:244.130096pt;}
.y2d{bottom:278.037890pt;}
.y76{bottom:282.047234pt;}
.y2c{bottom:282.371142pt;}
.y62{bottom:283.718310pt;}
.yb6{bottom:291.902962pt;}
.y4d{bottom:292.031738pt;}
.y1f{bottom:293.311798pt;}
.yc{bottom:294.167366pt;}
.y9a{bottom:294.732096pt;}
.y52{bottom:294.807340pt;}
.y7c{bottom:294.987027pt;}
.ya9{bottom:297.502978pt;}
.y9f{bottom:297.507698pt;}
.yb5{bottom:297.636360pt;}
.ya8{bottom:299.703011pt;}
.y3e{bottom:299.967814pt;}
.y3a{bottom:299.967855pt;}
.y69{bottom:299.968140pt;}
.y6e{bottom:299.968180pt;}
.y42{bottom:300.678945pt;}
.y71{bottom:300.679189pt;}
.y7d{bottom:300.693652pt;}
.y1e{bottom:300.778450pt;}
.yf{bottom:300.985057pt;}
.y15{bottom:301.246419pt;}
.y4{bottom:303.066243pt;}
.y3{bottom:359.066264pt;}
.y2b{bottom:368.904467pt;}
.y47{bottom:370.114779pt;}
.y2a{bottom:371.104459pt;}
.y61{bottom:372.184985pt;}
.y91{bottom:375.376025pt;}
.y4c{bottom:381.098419pt;}
.y51{bottom:382.473966pt;}
.y50{bottom:382.540616pt;}
.y99{bottom:383.798777pt;}
.y9e{bottom:385.174324pt;}
.y9d{bottom:385.240974pt;}
.yb4{bottom:385.302986pt;}
.y5{bottom:386.773608pt;}
.y3d{bottom:387.701162pt;}
.y39{bottom:387.701202pt;}
.y68{bottom:387.701487pt;}
.y6d{bottom:387.701528pt;}
.y41{bottom:388.412280pt;}
.y70{bottom:388.412524pt;}
.ya7{bottom:388.503059pt;}
.y1d{bottom:388.511808pt;}
.y7b{bottom:388.512011pt;}
.ye{bottom:390.051725pt;}
.y14{bottom:390.313100pt;}
.y2{bottom:442.795654pt;}
.y60{bottom:456.585091pt;}
.y29{bottom:459.904589pt;}
.y5f{bottom:460.918343pt;}
.y90{bottom:463.042732pt;}
.y4f{bottom:470.140633pt;}
.y4b{bottom:470.165087pt;}
.yb3{bottom:470.969635pt;}
.yb2{bottom:471.302968pt;}
.y9c{bottom:472.840991pt;}
.y98{bottom:472.865445pt;}
.y1c{bottom:474.178497pt;}
.y7a{bottom:474.178701pt;}
.y3c{bottom:475.434497pt;}
.y38{bottom:475.434537pt;}
.y67{bottom:475.434822pt;}
.y6c{bottom:475.434863pt;}
.ya6{bottom:477.636302pt;}
.y13{bottom:479.379768pt;}
.ya{bottom:479.379809pt;}
.y36{bottom:529.066142pt;}
.y35{bottom:529.163472pt;}
.y8f{bottom:544.976041pt;}
.y5e{bottom:547.451668pt;}
.y28{bottom:549.037791pt;}
.y5d{bottom:549.651660pt;}
.y8e{bottom:550.709358pt;}
.y37{bottom:557.093671pt;}
.y4a{bottom:573.790082pt;}
.y97{bottom:576.490440pt;}
.y1{bottom:579.527405pt;}
.ya5{bottom:579.646853pt;}
.y1b{bottom:579.655724pt;}
.y79{bottom:579.655927pt;}
.yb{bottom:579.678998pt;}
.y8d{bottom:638.376025pt;}
.y5c{bottom:638.451790pt;}
.y27{bottom:648.181681pt;}
.y49{bottom:674.020610pt;}
.y48{bottom:674.117818pt;}
.y96{bottom:676.720846pt;}
.y95{bottom:676.818176pt;}
.y1a{bottom:677.371463pt;}
.y78{bottom:677.371666pt;}
.y19{bottom:677.414589pt;}
.y77{bottom:677.414792pt;}
.yb1{bottom:679.909200pt;}
.y9{bottom:679.909403pt;}
.yb0{bottom:680.006409pt;}
.y8{bottom:680.006734pt;}
.y8c{bottom:724.042694pt;}
.y8b{bottom:724.309357pt;}
.y5b{bottom:727.584991pt;}
.y26{bottom:748.697553pt;}
.y25{bottom:748.740679pt;}
.ya4{bottom:766.258911pt;}
.y5a{bottom:826.728872pt;}
.y8a{bottom:829.519920pt;}
.y75{bottom:846.087657pt;}
.y46{bottom:846.087779pt;}
.y64{bottom:868.180059pt;}
.ybb{bottom:875.257215pt;}
.y93{bottom:890.738581pt;}
.ya3{bottom:890.909388pt;}
.y87{bottom:891.540787pt;}
.y34{bottom:910.737167pt;}
.y57{bottom:913.223150pt;}
.y74{bottom:918.098053pt;}
.y45{bottom:918.098175pt;}
.y59{bottom:927.244754pt;}
.y58{bottom:927.287880pt;}
.y89{bottom:929.782389pt;}
.y88{bottom:929.879608pt;}
.y7{bottom:930.461736pt;}
.y63{bottom:940.190455pt;}
.y33{bottom:948.646047pt;}
.y56{bottom:951.132029pt;}
.y92{bottom:962.748978pt;}
.ya2{bottom:962.919785pt;}
.y86{bottom:963.551183pt;}
.y18{bottom:967.769442pt;}
.y32{bottom:984.650533pt;}
.y55{bottom:987.136515pt;}
.y6{bottom:1002.472132pt;}
.h7{height:73.098958pt;}
.h8{height:81.453125pt;}
.h9{height:109.585784pt;}
.h4{height:110.692708pt;}
.h3{height:116.562500pt;}
.h5{height:139.061198pt;}
.h6{height:153.359375pt;}
.h2{height:338.343750pt;}
.h0{height:1080.000000pt;}
.h1{height:1238.000000pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x8{left:108.000000pt;}
.x2c{left:114.080526pt;}
.xb{left:129.505615pt;}
.x46{left:131.078532pt;}
.x11{left:134.464986pt;}
.x57{left:136.399900pt;}
.x26{left:137.875285pt;}
.x42{left:140.100567pt;}
.x5{left:141.620789pt;}
.x56{left:146.499949pt;}
.x3a{left:148.917582pt;}
.x74{left:179.713989pt;}
.x1d{left:182.225952pt;}
.x2b{left:192.747192pt;}
.x45{left:209.745199pt;}
.x49{left:213.547404pt;}
.x5b{left:216.811137pt;}
.x54{left:235.352132pt;}
.x15{left:253.941207pt;}
.x14{left:257.541207pt;}
.x39{left:259.759580pt;}
.x13{left:263.141207pt;}
.x38{left:265.492914pt;}
.xa{left:268.718953pt;}
.x37{left:270.926244pt;}
.x36{left:276.526244pt;}
.x48{left:292.214071pt;}
.x18{left:374.516626pt;}
.x17{left:378.183292pt;}
.x3c{left:381.868433pt;}
.x16{left:384.983293pt;}
.x3b{left:392.335100pt;}
.x1{left:411.050741pt;}
.x1c{left:503.864787pt;}
.x1a{left:508.398120pt;}
.x1b{left:509.798120pt;}
.x32{left:511.216471pt;}
.x19{left:514.731453pt;}
.x31{left:517.149804pt;}
.x41{left:519.833827pt;}
.x30{left:522.083138pt;}
.x12{left:628.092570pt;}
.x35{left:635.444295pt;}
.xc{left:638.282430pt;}
.x34{left:639.910857pt;}
.x33{left:645.577629pt;}
.x4{left:669.096191pt;}
.x2{left:677.629557pt;}
.x58{left:734.399523pt;}
.xe{left:740.194661pt;}
.xd{left:744.935221pt;}
.x3{left:774.479533pt;}
.x9{left:777.819499pt;}
.x40{left:844.764323pt;}
.x10{left:849.983236pt;}
.xf{left:854.847575pt;}
.x5c{left:959.973551pt;}
.x5e{left:981.479167pt;}
.x66{left:983.326107pt;}
.x65{left:987.126107pt;}
.x63{left:991.992774pt;}
.x1e{left:1012.853678pt;}
.x76{left:1030.986931pt;}
.x20{left:1034.320346pt;}
.x27{left:1036.303708pt;}
.x24{left:1039.253677pt;}
.x2a{left:1041.787043pt;}
.x22{left:1044.987012pt;}
.x2e{left:1061.497965pt;}
.x6f{left:1065.377360pt;}
.x69{left:1066.888913pt;}
.x6b{left:1070.905584pt;}
.x6a{left:1076.338913pt;}
.x68{left:1099.191895pt;}
.x55{left:1117.163411pt;}
.x4e{left:1157.770426pt;}
.x3f{left:1159.516113pt;}
.x4d{left:1163.303760pt;}
.x67{left:1177.858561pt;}
.x2d{left:1188.426839pt;}
.x6e{left:1192.946054pt;}
.x3e{left:1194.603434pt;}
.x5a{left:1219.048828pt;}
.x4a{left:1230.961995pt;}
.x7{left:1238.702148pt;}
.x62{left:1242.392726pt;}
.x3d{left:1273.270101pt;}
.x50{left:1278.692383pt;}
.x51{left:1280.092278pt;}
.x4f{left:1283.892383pt;}
.x59{left:1297.715495pt;}
.x71{left:1309.152669pt;}
.x70{left:1313.752669pt;}
.x6{left:1317.368815pt;}
.x47{left:1340.797038pt;}
.x53{left:1408.678548pt;}
.x77{left:1410.810547pt;}
.x52{left:1413.211882pt;}
.x72{left:1439.323405pt;}
.x73{left:1440.723300pt;}
.x64{left:1484.659210pt;}
.x44{left:1532.386795pt;}
.x4c{left:1533.847070pt;}
.x29{left:1537.786977pt;}
.x21{left:1549.053396pt;}
.x6d{left:1563.479492pt;}
.x6c{left:1568.438619pt;}
.x5d{left:1629.793132pt;}
.x75{left:1634.420021pt;}
.x25{left:1640.053485pt;}
.x23{left:1644.586817pt;}
.x28{left:1655.053614pt;}
.x4b{left:1682.520247pt;}
.x1f{left:1685.720123pt;}
.x61{left:1696.614095pt;}
.x60{left:1701.214095pt;}
.x2f{left:1702.559733pt;}
.x5f{left:1706.880657pt;}
.x43{left:1765.953384pt;}
}
